.DS_STORE
*.log
node_modules
docs
dist
dist-examples
coverage
.babelcache
.env
.cache
.npm
.npmrc
.idea/
.styleguide/__tests__/__image_snapshots__/__diff_output__
storybook_static/
styleguide_static/
config/schema.json
graphql.config.json
junit.xml
.parcel-cache
