name: CI
on:
  push:
    branches:
      - '*'
    tags:
      - '!v[0-9]+.[0-9]+.[0-9]+'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        name: Use Node.js 18.x
        with:
          node-version: '18.x'
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        name: Restore node_modules cache
        id: node_modules
        with:
          path: node_modules
          key: ${{runner.os}}-node_modules-${{ hashFiles('**/yarn.lock') }}
      - run: yarn install --frozen-lockfile
        name: Install dependencies
        if: steps.node_modules.outputs.cache-hit != 'true'
      - run: yarn lint
      - run: yarn test
        name: Run tests
        env:
          CI: true
      - run: yarn build
